In [2]:
import numpy as np
import anndata
import pandas as pd
import scanpy as sc
import matplotlib.pyplot as plt

sc.settings.verbosity=3
#verbosity: errors (0), warnings(1), info(2), hints(3)
sc.logging.print_versions()

scanpy==1.4.4.post1 anndata==0.6.22.post1 umap==0.3.10 numpy==1.17.2 scipy==1.3.1 pandas==0.25.1 scikit-learn==0.21.3 statsmodels==0.10.1

In [5]:
adata=anndata.read_h5ad('/Users/caroline/Desktop/Hashed_analysis/Hashed_secondary_output_Hashed_Hashed_demux.h5ad')
adata

AnnData object with n_obs × n_vars = 70351 × 33538
    obs: 'Channel', 'n_genes', 'n_counts', 'demux_type', 'assignment'
    var: 'gene_ids', 'robust'
    uns: 'background_probs', 'genome'
    obsm: 'raw_probs'

In [6]:
samp=adata.obs
samp

                 Channel  n_genes  n_counts demux_type              assignment
index
AAACCCAAGACAACTA              368     536.0    doublet  A375_15,A375_13,HEK_10
AAACCCAAGACGGTTG              347     491.0    doublet           HEK_8,A375_15
AAACCCAAGAGAATCT              317     472.0    unknown
AAACCCAAGAGCTTTC              352     509.0    unknown
AAACCCAAGATACAGT              369     534.0    unknown
...                  ...      ...       ...        ...                     ...
TTTGTTGTCGTCGACG              257     325.0    unknown
TTTGTTGTCTCCAATT              285     367.0    unknown
TTTGTTGTCTCGAGTA              260     330.0    singlet                  HEK_10
TTTGTTGTCTTAATCC              276     351.0    unknown
TTTGTTGTCTTCGACC              253     321.0    doublet           HEK_8,A375_15

[70351 rows x 5 columns]

In [13]:
samp.assignment.value_counts().head(25)

                   31871
HEK_8               5818
HEK_2               3739
HEK_12              3639
HEK_10              3119
A375_14             2996
A375_13             2272
A375_15             1860
A375_9              1474
HEK_8,A375_13        719
HEK_8,HEK_10         607
HEK_8,A375_14        563
HEK_8,HEK_12         505
A375_14,HEK_8        460
HEK_8,A375_15        458
HEK_10,HEK_8         445
HEK_12,HEK_8         376
A375_13,HEK_8        301
HEK_10,A375_13       264
HEK_12,A375_13       263
HEK_2,HEK_8          236
A375_14,A375_13      230
HEK_8,A375_9         225
A375_15,HEK_8        223
HEK_10,HEK_12        220
Name: assignment, dtype: int64

In [16]:
adata=adata[adata.obs['demux_type']=='singlet']
adata

View of AnnData object with n_obs × n_vars = 24917 × 33538
    obs: 'Channel', 'n_genes', 'n_counts', 'demux_type', 'assignment'
    var: 'gene_ids', 'robust'
    uns: 'background_probs', 'genome'
    obsm: 'raw_probs'